<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

</head>
<body>
    <header>
        <h1>URL Shortener <br> <span id="title-desc">(FCC backend project #3)</span></h1>
        <img src="/img/url.png" width="150px" height="150px" />
    </header>
       
    <form action="/shortenedUrl" method="POST">
        <label for="longUrl">My URL: </label>
        <input contenteditable="true" type="url" name="longUrl" id="longUrl" placeholder="http:// or https://" required/>

        <button type="submit"><span id="btn-desc">Get Your URL </span></button>
    </form>
   
    <div className="titles">
        <h4>URL</h4>
        <h4>Short URL</h4>
        <h4>Views</h4>
        <h4>Last Visited</h4>
    </div>

    <ul>
        <% findUrls.map(myUrl => { %>
            <li> <a href="<%=myUrl.longUrl %> "target="_blank"><%=myUrl.longUrl %></a></li>
            <li> <a href="<%=myUrl.shortUrl %> "target="_blank"><%=myUrl.shortUrl %></a></li>
            <li>  <%=myUrl.views %></li>
            <li>  <%=myUrl.date %></li>
            <% }) %>
    </ul>
    <footer>
        Created for the Free Code Camp Backend Challenge #3, using: <span id="description"> Node, Express, Mongoose, ejs, CSS, shortid</span> 
    </footer>
</body>
</html>